:root {
    --primary-color: #ff817e;
    --white-color: #fff;
    --black-color: #000;
}

.grid {
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}
.grid_columm-3 {
    padding-left: 15px;
    padding-right: 15px;
    width: 33.33333%;
}

.grid__columm-4 {
    padding-left: 15px;
    padding-right: 15px;
    width: 25%;
}

.grid__columm-5 {
    padding-left: 10px;
    padding-right: 10px;
    width: 20%;
}